api-docs/
data/
venv/
venv-python2

.DS_Store
*.egg-info/
.idea
.ipynb_checkpoints/
*.pytest_cache/
*.pyc
*__pycache__/
.coverage
htmlcov/
*.log
*readings.json
aqi.orig/__init__.py
aqi.orig/calculator.py
aqi.orig/instruction_set.py
aqi.orig/measurement_modes.py
aqi.orig/reading.py
aqi.orig/sensor.py
aqi.orig/visualisation.py
aqi.orig/tests/__init__.py
aqi.orig/tests/test_calculator.py
aqi.orig/tests/test_sensor.py
.vscode/settings.json
