 [Unit]
 Description=Air Quality - RESTful API Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/aqi-pi/python/restful_api.py > /home/pi/aqi-pi/log/aqi_restful_api.log 2>&1

 [Install]
 WantedBy=multi-user.target