 [Unit]
 Description=Air Quality - Sensor Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python2 -u /home/pi/aqi-pi/python/aqi.py > /home/pi/aqi-pi/log/aqi_sensor.log 2>&1

 [Install]
 WantedBy=multi-user.target