 [Unit]
 Description=Air Quality - Display Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/aqi-pi/python/display.py > /home/pi/aqi-pi/log/aqi_display.log 2>&1

 [Install]
 WantedBy=multi-user.target